{% extends 'base.html' %}
{% block content %}
	<h3>Choose members here</h3>
	<form action="" method="POST">
		{% for user in users %}
			<li style="list-style:none; margin-left:2em;"><input type="checkbox" name="member" value="{{user.name}}">{{user.name}}</input></li>
		{% endfor %}
		<br>
		<input type="submit" value="Find Matches"/>
		<span style="color: #FF0000;">{{ error }}</span>
	</form>

	<br></br>

	{% if results %}
		<h2>Chosen Group Members</h2>
		{% for user in chosen %}
			<li>{{user.name}}</li>
		{% endfor %}

		{% if results.visit %}
			<h2>Places to visit</h2>
			<ul>
				{% for venue in results.visit %}
					<li>{{venue.name}}</li>
				{% endfor %}
			</ul>
		{% else %}
			<h3>No Venues to Visit</h3>
		{% endif %}
		<br>
		{% if results.avoid %}
			<h2>Places to avoid</h2>
			<ul>
			{% for venue in results.avoid %}
				<li>{{venue.name}}</li>
				<ul>
					{% for reason in venue.reasons %}
					<li>{{reason}}</li>
					{% endfor %}
				</ul>
			{% endfor %}
			</ul>
		{% else %}
			<h3>No Venues to Avoid</h3>
		{% endif %}
		<br>
	{% endif %}
{% endblock %}
